# Pump_sensor_data

In [6]:
#load the necessary modules
import pandas as pd
import numpy as np
from scipy.io import loadmat
import pickle
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import datetime
import os

In [7]:
path = '../ten-datasets/'

 
df_sensor = pd.read_csv(path + 'sensor.csv')
df_sensor.head()
# Y = df_forestdata.iloc[:,54]
# X = df_forestdata.iloc[:,0:54]
# train_data['X'][0]

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
0,0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
1,1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
2,2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL
3,3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL
4,4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL

In [10]:
df_sensor['timestamp']
# datetime.datetime.fromtimestamp(df_sensor['timestamp'])

0         2018-04-01 00:00:00
1         2018-04-01 00:01:00
2         2018-04-01 00:02:00
3         2018-04-01 00:03:00
4         2018-04-01 00:04:00
                 ...
220315    2018-08-31 23:55:00
220316    2018-08-31 23:56:00
220317    2018-08-31 23:57:00
220318    2018-08-31 23:58:00
220319    2018-08-31 23:59:00
Name: timestamp, Length: 220320, dtype: object

## timestrap processing

In [ ]:
temp=pd.DatetimeIndex(df_sensor['timestamp'])
df_sensor['date']=temp.date #添加date和time两个键和值
df_sensor['time']=temp.time

In [102]:
# df_sensor['hour']=pd.to_datetime(df_sensor.time,format="%H:%M:%S")#变换格式
# # df_sensor['hour']=pd.Index(df_sensor["hour"]).hour
# df_sensor['hour']

In [103]:
df_sensor.head()

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status,date,time
0,0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL,2018-04-01,00:00:00
1,1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL,2018-04-01,00:01:00
2,2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,...,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL,2018-04-01,00:02:00
3,3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,...,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL,2018-04-01,00:03:00
4,4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,...,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL,2018-04-01,00:04:00

In [104]:
df_sensor['machine_status'].unique()

array(['NORMAL', 'BROKEN', 'RECOVERING'], dtype=object)

In [105]:
df_sensor["machine_status"]=df_sensor.machine_status.astype("category")
df_sensor.machine_status.dtype

CategoricalDtype(categories=['BROKEN', 'NORMAL', 'RECOVERING'], ordered=False)

In [135]:
df_sensor["machine_status"].cat.categories
df_sensor["machine_status_code"]=df_sensor["machine_status"].cat.codes
df_sensor["machine_status"].cat.codes.unique()
df_sensor

,Unnamed: 0,date,time,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,...,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status,machine_status_code
0,0,2018-04-01,00:00:00,2.465394,47.09201,53.211800,46.310760,634.375000,76.45975,13.41146,...,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL,1
1,1,2018-04-01,00:01:00,2.465394,47.09201,53.211800,46.310760,634.375000,76.45975,13.41146,...,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL,1
2,2,2018-04-01,00:02:00,2.444734,47.35243,53.211800,46.397570,638.888900,73.54598,13.32465,...,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL,1
3,3,2018-04-01,00:03:00,2.460474,47.09201,53.168400,46.397568,628.125000,76.98898,13.31742,...,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL,1
4,4,2018-04-01,00:04:00,2.445718,47.13541,53.211800,46.397568,636.458300,76.58897,13.35359,...,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220315,220315,2018-08-31,23:55:00,2.407350,47.69965,50.520830,43.142361,634.722229,64.59095,15.11863,...,68.287030,52.37268,48.32176,41.087960,212.3843,153.64580,NaN,231.1921,NORMAL,1
220316,220316,2018-08-31,23:56:00,2.400463,47.69965,50.564240,43.142361,630.902771,65.83363,15.15480,...,66.840280,50.63657,48.03241,40.798610,213.8310,156.25000,NaN,231.1921,NORMAL,1
220317,220317,2018-08-31,23:57:00,2.396528,47.69965,50.520830,43.142361,625.925903,67.29445,15.08970,...,65.393520,48.90046,48.03241,40.798610,217.3032,155.38190,NaN,232.0602,NORMAL,1
220318,220318,2018-08-31,23:58:00,2.406366,47.69965,50.520832,43.142361,635.648100,65.09175,15.11863,...,64.236110,47.74306,48.32176,40.509258,222.5116,153.93520,NaN,234.0856,NORMAL,1
220319,220319,2018-08-31,23:59:00,2.396528,47.69965,50.520832,43.142361,639.814800,65.45634,15.11863,...,62.789350,46.29630,48.90046,40.219910,227.4306,150.46300,NaN,234.0856,NORMAL,1

In [107]:
df_sensor.columns

Index(['Unnamed: 0', 'timestamp', 'sensor_00', 'sensor_01', 'sensor_02',
       'sensor_03', 'sensor_04', 'sensor_05', 'sensor_06', 'sensor_07',
       'sensor_08', 'sensor_09', 'sensor_10', 'sensor_11', 'sensor_12',
       'sensor_13', 'sensor_14', 'sensor_16', 'sensor_17', 'sensor_18',
       'sensor_19', 'sensor_20', 'sensor_21', 'sensor_22', 'sensor_23',
       'sensor_24', 'sensor_25', 'sensor_26', 'sensor_27', 'sensor_28',
       'sensor_29', 'sensor_30', 'sensor_31', 'sensor_32', 'sensor_33',
       'sensor_34', 'sensor_35', 'sensor_36', 'sensor_37', 'sensor_38',
       'sensor_39', 'sensor_40', 'sensor_41', 'sensor_42', 'sensor_43',
       'sensor_44', 'sensor_45', 'sensor_46', 'sensor_47', 'sensor_48',
       'sensor_49', 'sensor_50', 'sensor_51', 'machine_status', 'date', 'time',
       'machine_status_code'],
      dtype='object')

In [110]:
len(df_sensor.columns)

57

In [116]:
new_columns=  ['Unnamed: 0', 'date', 'time', 'sensor_00', 'sensor_01', 'sensor_02',
       'sensor_03', 'sensor_04', 'sensor_05', 'sensor_06', 'sensor_07',
       'sensor_08', 'sensor_09', 'sensor_10', 'sensor_11', 'sensor_12',
       'sensor_13', 'sensor_14', 'sensor_16', 'sensor_17', 'sensor_18',
       'sensor_19', 'sensor_20', 'sensor_21', 'sensor_22', 'sensor_23',
       'sensor_24', 'sensor_25', 'sensor_26', 'sensor_27', 'sensor_28',
       'sensor_29', 'sensor_30', 'sensor_31', 'sensor_32', 'sensor_33',
       'sensor_34', 'sensor_35', 'sensor_36', 'sensor_37', 'sensor_38',
       'sensor_39', 'sensor_40', 'sensor_41', 'sensor_42', 'sensor_43',
       'sensor_44', 'sensor_45', 'sensor_46', 'sensor_47', 'sensor_48',
       'sensor_49', 'sensor_50', 'sensor_51', 'machine_status', 
       'machine_status_code']

In [125]:
df_sensor = df_sensor[new_columns]

In [126]:
df_sensor.head()

,Unnamed: 0,date,time,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,...,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status,machine_status_code
0,0,2018-04-01,00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,...,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL,1
1,1,2018-04-01,00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,...,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL,1
2,2,2018-04-01,00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,...,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL,1
3,3,2018-04-01,00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,...,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL,1
4,4,2018-04-01,00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,...,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL,1

In [134]:
df_sensor.info

<bound method DataFrame.info of         Unnamed: 0        date      time  sensor_00  sensor_01  sensor_02  \
0                0  2018-04-01  00:00:00   2.465394   47.09201  53.211800
1                1  2018-04-01  00:01:00   2.465394   47.09201  53.211800
2                2  2018-04-01  00:02:00   2.444734   47.35243  53.211800
3                3  2018-04-01  00:03:00   2.460474   47.09201  53.168400
4                4  2018-04-01  00:04:00   2.445718   47.13541  53.211800
...            ...         ...       ...        ...        ...        ...
220315      220315  2018-08-31  23:55:00   2.407350   47.69965  50.520830
220316      220316  2018-08-31  23:56:00   2.400463   47.69965  50.564240
220317      220317  2018-08-31  23:57:00   2.396528   47.69965  50.520830
220318      220318  2018-08-31  23:58:00   2.406366   47.69965  50.520832
220319      220319  2018-08-31  23:59:00   2.396528   47.69965  50.520832

        sensor_03   sensor_04  sensor_05  sensor_06  ...  sensor_44  \
0       46.310760  634.375000   76.45975   13.41146  ...  39.641200
1       46.310760  634.375000   76.45975   13.41146  ...  39.641200
2       46.397570  638.888900   73.54598   13.32465  ...  39.351852
3       46.397568  628.125000   76.98898   13.31742  ...  39.062500
4       46.397568  636.458300   76.58897   13.35359  ...  38.773150
...           ...         ...        ...        ...  ...        ...
220315  43.142361  634.722229   64.59095   15.11863  ...  68.287030
220316  43.142361  630.902771   65.83363   15.15480  ...  66.840280
220317  43.142361  625.925903   67.29445   15.08970  ...  65.393520
220318  43.142361  635.648100   65.09175   15.11863  ...  64.236110
220319  43.142361  639.814800   65.45634   15.11863  ...  62.789350

        sensor_45  sensor_46  sensor_47  sensor_48  sensor_49  sensor_50  \
0        65.68287   50.92593  38.194440   157.9861   67.70834   243.0556
1        65.68287   50.92593  38.194440   157.9861   67.70834   243.0556
2        65.39352   51.21528  38.194443   155.9606   67.12963   241.3194
3        64.81481   51.21528  38.194440   155.9606   66.84028   240.4514
4        65.10416   51.79398  38.773150   158.2755   66.55093   242.1875
...           ...        ...        ...        ...        ...        ...
220315   52.37268   48.32176  41.087960   212.3843  153.64580        NaN
220316   50.63657   48.03241  40.798610   213.8310  156.25000        NaN
220317   48.90046   48.03241  40.798610   217.3032  155.38190        NaN
220318   47.74306   48.32176  40.509258   222.5116  153.93520        NaN
220319   46.29630   48.90046  40.219910   227.4306  150.46300        NaN

        sensor_51  machine_status  machine_status_code
0        201.3889          NORMAL                    1
1        201.3889          NORMAL                    1
2        203.7037          NORMAL                    1
3        203.1250          NORMAL                    1
4        201.3889          NORMAL                    1
...           ...             ...                  ...
220315   231.1921          NORMAL                    1
220316   231.1921          NORMAL                    1
220317   232.0602          NORMAL                    1
220318   234.0856          NORMAL                    1
220319   234.0856          NORMAL                    1

[220320 rows x 56 columns]>

In [127]:
y = df_sensor.iloc[:,-1]
print(y.shape)
X = df_sensor.iloc[:,0:-2]
print(X.shape)

X.head()

(220320,)
(220320, 54)

,Unnamed: 0,date,time,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,...,sensor_42,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51
0,0,2018-04-01,00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,...,31.770832,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889
1,1,2018-04-01,00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,...,31.770832,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889
2,2,2018-04-01,00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,...,31.770830,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037
3,3,2018-04-01,00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,...,31.510420,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250
4,4,2018-04-01,00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,...,31.510420,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889

In [128]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size =0.2, random_state = 0, stratify=y)

In [129]:
print(X_train.shape)
print(y_train.shape)

(176256, 54)
(176256,)

In [130]:
print(X_test.shape)
print(y_test.shape)

(44064, 54)
(44064,)

## logistic_regression

In [131]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [132]:
standardScaler = StandardScaler()
X_train_adv = standardScaler.fit_transform(X_train)

TypeError: float() argument must be a string or a number, not 'datetime.date'